
*.exe
*.v2
*.vsidx
*.lock
*.1
*.csproj
*.json
*.dll
*.pdb
*.props
*.targets
*.cache
*.editorconfig
*.BuildWithSkipAnalyzers
*.AssemblyAttributes.cs
*.AssemblyInfo.cs
*.g.cs
*.sln
C/C-projects/02-Student-management-system/joke.c
.vscode/settings.json
.vscode/tasks.json
*.tmp
C\#/ConsoleApp1/*